DemoAccessControlPlugin/SvcRef/DemoApplicationService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTupleOfstringboolean">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfstringboolean" nillable="true" type="tns:TupleOfstringboolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfstringboolean" nillable="true" type="tns:ArrayOfTupleOfstringboolean" />
  <xs:complexType name="TupleOfstringboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringboolean" nillable="true" type="tns:TupleOfstringboolean" />
  <xs:complexType name="ArrayOfTupleOfstringdoubledouble">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfstringdoubledouble" nillable="true" type="tns:TupleOfstringdoubledouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfstringdoubledouble" nillable="true" type="tns:ArrayOfTupleOfstringdoubledouble" />
  <xs:complexType name="TupleOfstringdoubledouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="xs:string" />
      <xs:element name="m_Item2" type="xs:double" />
      <xs:element name="m_Item3" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfstringdoubledouble" nillable="true" type="tns:TupleOfstringdoubledouble" />
</xs:schema>