DemoAccessControlPlugin/SvcRef/DemoApplicationService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IWebService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/DemoACServerApplication/WebService/?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/DemoACServerApplication/WebService/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/DemoACServerApplication/WebService/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DemoACServerApplication" />
      <xsd:import schemaLocation="http://localhost:8732/DemoACServerApplication/WebService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8732/DemoACServerApplication/WebService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IWebService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetEventTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypes" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetEventTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDoorControllers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoorControllers" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDoorControllers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoorControllersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDoors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoors" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDoors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoorsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCredentialHolder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentialHolder" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCredentialHolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentialHolderResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SearchCredentialHolders_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCredentialHolders" />
  </wsdl:message>
  <wsdl:message name="IWebService_SearchCredentialHolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCredentialHoldersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UnlockDoor_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockDoor" />
  </wsdl:message>
  <wsdl:message name="IWebService_UnlockDoor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockDoorResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_LockDoor_InputMessage">
    <wsdl:part name="parameters" element="tns:LockDoor" />
  </wsdl:message>
  <wsdl:message name="IWebService_LockDoor_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockDoorResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDoorStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoorStatus" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDoorStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoorStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetAlarmsToClear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsToClear" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetAlarmsToClear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsToClearResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CloseAlarmOnDoor_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseAlarmOnDoor" />
  </wsdl:message>
  <wsdl:message name="IWebService_CloseAlarmOnDoor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseAlarmOnDoorResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateDoorEnabledStates_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDoorEnabledStates" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateDoorEnabledStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDoorEnabledStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateEventTypeEnabledStates_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventTypeEnabledStates" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateEventTypeEnabledStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventTypeEnabledStatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="Connect">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/Connect" message="tns:IWebService_Connect_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/ConnectResponse" message="tns:IWebService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetUser" message="tns:IWebService_GetUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetUserResponse" message="tns:IWebService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventTypes">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetEventTypes" message="tns:IWebService_GetEventTypes_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetEventTypesResponse" message="tns:IWebService_GetEventTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoorControllers">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetDoorControllers" message="tns:IWebService_GetDoorControllers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetDoorControllersResponse" message="tns:IWebService_GetDoorControllers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoors">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetDoors" message="tns:IWebService_GetDoors_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetDoorsResponse" message="tns:IWebService_GetDoors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCredentialHolder">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetCredentialHolder" message="tns:IWebService_GetCredentialHolder_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetCredentialHolderResponse" message="tns:IWebService_GetCredentialHolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCredentialHolders">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/SearchCredentialHolders" message="tns:IWebService_SearchCredentialHolders_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/SearchCredentialHoldersResponse" message="tns:IWebService_SearchCredentialHolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetEvents" message="tns:IWebService_GetEvents_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetEventsResponse" message="tns:IWebService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockDoor">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/UnlockDoor" message="tns:IWebService_UnlockDoor_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/UnlockDoorResponse" message="tns:IWebService_UnlockDoor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockDoor">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/LockDoor" message="tns:IWebService_LockDoor_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/LockDoorResponse" message="tns:IWebService_LockDoor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoorStatus">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetDoorStatus" message="tns:IWebService_GetDoorStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetDoorStatusResponse" message="tns:IWebService_GetDoorStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsToClear">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/GetAlarmsToClear" message="tns:IWebService_GetAlarmsToClear_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/GetAlarmsToClearResponse" message="tns:IWebService_GetAlarmsToClear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseAlarmOnDoor">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/CloseAlarmOnDoor" message="tns:IWebService_CloseAlarmOnDoor_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/CloseAlarmOnDoorResponse" message="tns:IWebService_CloseAlarmOnDoor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDoorEnabledStates">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/UpdateDoorEnabledStates" message="tns:IWebService_UpdateDoorEnabledStates_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/UpdateDoorEnabledStatesResponse" message="tns:IWebService_UpdateDoorEnabledStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventTypeEnabledStates">
      <wsdl:input wsam:Action="http://tempuri.org/IWebService/UpdateEventTypeEnabledStates" message="tns:IWebService_UpdateEventTypeEnabledStates_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWebService/UpdateEventTypeEnabledStatesResponse" message="tns:IWebService_UpdateEventTypeEnabledStates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IWebService" type="tns:IWebService">
    <wsp:PolicyReference URI="#WSHttpBinding_IWebService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IWebService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventTypes">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetEventTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoorControllers">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetDoorControllers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoors">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetDoors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentialHolder">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetCredentialHolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCredentialHolders">
      <soap12:operation soapAction="http://tempuri.org/IWebService/SearchCredentialHolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockDoor">
      <soap12:operation soapAction="http://tempuri.org/IWebService/UnlockDoor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDoor">
      <soap12:operation soapAction="http://tempuri.org/IWebService/LockDoor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoorStatus">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetDoorStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsToClear">
      <soap12:operation soapAction="http://tempuri.org/IWebService/GetAlarmsToClear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAlarmOnDoor">
      <soap12:operation soapAction="http://tempuri.org/IWebService/CloseAlarmOnDoor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDoorEnabledStates">
      <soap12:operation soapAction="http://tempuri.org/IWebService/UpdateDoorEnabledStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventTypeEnabledStates">
      <soap12:operation soapAction="http://tempuri.org/IWebService/UpdateEventTypeEnabledStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WSHttpBinding_IWebService" binding="tns:WSHttpBinding_IWebService">
      <soap12:address location="http://localhost:8732/DemoACServerApplication/WebService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/DemoACServerApplication/WebService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>